:root {
    --primary-color: rgb(76, 175, 80);
    --secondary-color: #2E7D32;
    --third-color: #55BB31;
    --fourth-color: #2563EB;
    --text-color: #333333;
    --text-color-header: #ffffff;
    --light-gray: #F5F5F5;
    --light-gray-medium: #CBD5E1;
    --color-yellow: #FBBC05;
    --color-black: #000000;

  --space-cadet: #1f2041;
  --sunglow: #ffc857;
  --dark-cyan: #119da4;
  --paynes-gray: #19647e;
  --light-color: #fff;
  --muted-color: slategray;
  --dot-color: #ccc;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    line-height: 1.6;
    color: var(--text-color);
}

/* Header Styles */
header {
    background: rgba(255, 255, 255, 0.11);
    padding: 0.5rem 5%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 40px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color-header);
    margin: 0 1.5rem;
    font-weight: 500;
}

.download-btn {
    background: var(--text-color-header);
    color: var(--primary-color);
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}

/* Hero Section */
.hero {
    padding: 4.4rem 5% 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(135deg, #ffffff 60%, #e8f5e9 100%);
}

.hero-bg-shape {
    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 800px;
    z-index: 0;
    pointer-events: none;
}

.hero-content, .hero-image {
    position: relative;
    z-index: 1;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    text-align: center;  
    flex: 1;
}

.hero-content h1 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.hero-content h2 {
    color: var(--primary-color);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.hero-image {
    display:flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hero-image img {
    max-width: 45%;
    height: auto;
}

/* Features Section */
.features {
    padding: 4rem 5%;
    background: white;
}

.feature-cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.feature-card {
    flex: 1;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    background: var(--light-gray);
}

.feature-card img {
    width: 70px;
    height: 70px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 150px;
    box-shadow: 0 2px 8px rgba(76, 175, 80, 0.10);
    object-fit: contain;
    background-size: contain;
}

.feature-cards .feature-card:nth-child(1) img {
        background: var(--primary-color);
}
.feature-cards .feature-card:nth-child(2) img {
        background: var(--color-yellow);
}
.feature-cards .feature-card:nth-child(3) img {
    background: var(--secondary-color);
}

.feature-card h3 {
    margin-bottom: 1rem;
    color: var(--color-black);
}

/* Characteristics Section */
.characteristics {
    padding: 4rem 5%;
    background: var(--light-gray);
}

.characteristics h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.characteristics p {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--text-color);
}


.char-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.char-container .char-bg-shape {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0.8;
    background-color: var(--third-color);
    border-radius: 50%;
}

.char-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.char-content {
    flex: 1;
}

.char-content p {
    text-align: justify;
    position: relative;
    padding-left: 16px;
}

.char-content p::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    border-radius: 2px;
}

.char-content p:nth-child(1)::before {
    background: var(--fourth-color);
}

.char-content p:nth-child(2)::before {
    background: var(--light-gray-medium);
}

.char-content p:nth-child(3)::before {
    background: var(--light-gray-medium);
}

.char-image img {
    max-width: 50%;
    height: auto;
    padding: 8px;
}

.char-image img ::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 0 8px 32px rgba(61, 61, 61, 0.15);
    background: #fff;
}

/* Community Section */
.community {
    padding: 4rem 5%;
    display: flex;
    align-items: center;
    background: white;
}

.testimonial-slider {
  max-width: 800px;
  width: 90%;
  padding: 30px;
  position: relative;
  overflow: hidden;
}

.testimonial-list {
  display: flex;
  overflow: hidden;
}

.testimonial-slider h3 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
}

.testimonial {
  flex: 1 0 100%;
  text-align: center;
  padding: 20px;
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.testimonial .bi-quote {
  font-size: 2.5rem;
  color: var(--sunglow);
  opacity: 0.75;
}

.testimonial blockquote {
    text-align: justify;
  font-size: 1.2rem;
  font-weight: 500;
  margin-inline: 20px;
}

.user-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-details .name {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--dark-cyan);
}

.user-details .company {
  color: var(--muted-color);
}

/* button navigation */

button {
  cursor: pointer;
  border: none;
}

.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 42px;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: var(--light-color);
  color: var(--paynes-gray);
  transition: 0.3s;
}

.nav:hover {
  background-color: var(--dark-cyan);
  color: var(--light-color);
}

.nav.prev {
  left: 10px;
}

.nav.next {
  right: 10px;
}

/* dot navigation */

.dots-container {
  text-align: center;
}

.dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 5px;
  margin-inline: 5px;
  background-color: var(--dot-color);
  transition: width 0.5s;
}

.dot.active {
  width: 30px;
  background-color: var(--paynes-gray);
}

.community-image img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 8px 32px rgba(76, 175, 80, 0.15);
    background: #fff;
    padding: 8px;
}

.join-btn {
    background: var(--primary-color);
    color: white;
    border: none;
    padding: 1rem 2rem;
    border-radius: 25px;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    cursor: pointer;
}

/* Download Section */
.download {
    padding: 5rem 20%;
    text-align: center;
    background: var(--light-gray);
    text-align: center;
}

.download h2{
    font-size: 2.5rem;
}

.download p{
    font-size: 1.4rem;
    margin-top: 2rem;
    font-weight: 500;
}

.download-buttons {
    margin-top: 2rem;
}

.google-play img {
    height: 60px;
}

/* How to Use Section */
.how-to-use h2 {
    font-size: 2.2rem;
    margin: 2rem 0;
    color: var(--text-color);
    text-align: center;
}

.use-steps {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: white;
}

.steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 0;
    width: 40%;
    position: relative;
}

/* Añade la línea vertical que conecta los círculos */
.steps::before {
    content: '';
    position: absolute;
    right: 24px; /* Mitad del ancho del círculo (50px/2) - mitad del ancho de la línea (2px/2) */
    top: 50px; /* Mitad del alto del primer círculo */
    bottom: 100px; /* Mitad del alto del último círculo */
    width: 2px;
    background-color: var(--primary-color);
    z-index: 0;
}


.step {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 1.5rem 0;
}

.step .text {
    width: calc(100% - 70px); /* Resta el ancho del círculo más un pequeño margen */
    padding-right: 1rem;
}

.step .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    border: 2px solid var(--primary-color);
    z-index: 1;
}

.set-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-image img {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer */
footer {
    margin-top: 8rem;
    background: var(--text-color);
    color: white;
    padding: 4rem 5% 2rem;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 3rem;
}

.footer-section h3 {
    margin-bottom: 1.5rem;
}

.footer-section ul {
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 0.8rem;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding-top: 2rem;
    border-top: 1px solid rgba(255,255,255,0.1);
}

/* People Recycling Section */
.people-recycling {
    margin-top: 4rem;
    position: relative;
    min-height: 600px;
    background-image: url('images/imageTodosJuntosPorNuestroPlaneta.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    padding: 4rem 5%;
}

.people-recycling .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        135deg,
        rgba(92, 209, 96, 0.64) 0%,
        rgba(46, 125, 50, 0.85) 100%
    );
    z-index: 1;
}

.people-recycling .content {
    position: relative;
    z-index: 2;
    color: white;
    max-width: 600px;
    align-self: flex-end; /* Align to bottom */
    margin-top: auto; /* Push content to bottom */
}

.people-recycling h2 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
    font-weight: 700;
}

.people-recycling p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    opacity: 0.9;
}

.people-recycling .download-cta {
    background: #FBBC05;
    color: var(--text-color);
    border: none;
    padding: 1rem 2.5rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.people-recycling .download-cta:hover {
    transform: translateY(-2px);
}

/* Responsive Design */
@media (max-width: 1024px) {
    .hero-content h1 {
        font-size: 1.8rem;
    }
    
    .hero-content h2 {
        font-size: 2.5rem;
    }

    .char-image img {
        max-width: 70%;
    }

    .feature-cards {
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    /* Header */
    .nav-links {
        display: none; /* Aquí deberías considerar agregar un menú hamburguesa */
    }

    /* Hero Section */
    .hero {
        flex-direction: column;
        padding: 6rem 5% 2rem;
        text-align: center;
    }

    .hero-image img {
        max-width: 80%;
        margin-top: 2rem;
    }

    /* Features Section */
    .feature-cards {
        flex-direction: column;
    }

    .feature-card {
        margin-bottom: 1rem;
    }

    /* Characteristics Section */
    .char-container {
        flex-direction: column;
        gap: 2rem;
    }

    .char-content p {
        text-align: center;
        padding: 0 1rem;
    }

    /* Community Section */
    .community {
        flex-direction: column;
        gap: 2rem;
    }

    .testimonial-slider {
        width: 100%;
    }

    /* How to Use Section */
    .use-steps {
        flex-direction: column;
    }

    .steps {
        width: 90%;
        margin: 0 auto;
    }

    .step-image img {
        width: 90%;
        margin: 2rem auto;
    }
}

@media (max-width: 480px) {
    /* Header */
    .logo img {
        height: 30px;
    }

    /* Hero Section */
    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero-content h2 {
        font-size: 2rem;
    }

    /* Download Section */
    .download {
        padding: 3rem 10%;
    }

    .download h2 {
        font-size: 2rem;
    }

    .download p {
        font-size: 1.1rem;
    }

    /* People Recycling Section */
    .people-recycling {
        min-height: 300px;
    }

    .people-recycling h2 {
        font-size: 2rem;
    }

    /* Footer */
    .footer-section {
        margin-bottom: 2rem;
        text-align: center;
    }

    .footer-content {
        gap: 2rem;
    }
}

/* Ajustes de orientación */
@media (orientation: landscape) and (max-height: 500px) {
    .hero {
        padding: 5rem 5% 2rem;
    }

    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero-image img {
        max-width: 40%;
    }
}